name: Release

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release type'
        required: true
        type: choice
        options:
          - release
          - pre-release
        default: release

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm i

      - name: Lint
        run: pnpm --filter "styled-off-canvas" run lint

      - name: Unit test
        run: pnpm --filter "styled-off-canvas" run test

      - name: Build
        run: pnpm --filter "styled-off-canvas" run build

      - name: Install Playwright Browsers
        run: |
          cd packages/e2e
          npx playwright install --with-deps

      - name: Run Playwright tests
        run: |
          cd packages/e2e
          npx playwright test

      - uses: actions/upload-artifact@v4
        name: Upload report
        with:
          name: playwright-report
          path: packages/e2e/playwright-report/
          retention-days: 30

  release-and-publish:
    name: Release and publish
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout pre-release branch
        if: ${{ github.event.inputs.release-type == 'pre-release' }}
        run: |
          git checkout -B pre
          git push -u origin pre --force

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: pnpm --filter "styled-off-canvas" run build

      - name: Semantic release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd packages/lib
          npx semantic-release

      - name: Cleanup pre-release branch
        if: ${{ github.event.inputs.release-type == 'pre-release' && success() }}
        run: |
          git push origin --delete pre || true
